/*
* @Author: KunnyChen
* @Date:   2017-06-19 11:52:41
* @Last Modified by:   KunnyChen
* @Last Modified time: 2017-06-20 18:35:33
*/

.banner {
    width: 100%;
    height: 700px;
    background: url("../img/index/home-header.jpg") center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.feature {
    background: rgb(241, 243, 248);
    padding: 5% 10%;
    box-sizing: border-box;
}
.title {
    width: 100%;
    text-align: center;
    line-height: 2em;
}
.title>h3 {
    margin-bottom: 2%;
    color: rgb(67, 83, 123);
}
.title>p {
    color: rgb(67, 83, 123);
    font-size: 1.2em;
}
.product {
    padding: 5% 10%;
    box-sizing: border-box;
}
.classify_title {
    text-align: center;
    font-size: 1.5em;
    margin: 3% auto;
}
.classify_title>ul {
    width: 50%;
    margin-left: 25%;
}
.classify_title>ul>li {
    display: inline-block;
    width: 23%;
    cursor: pointer;
    color: rgb(67, 83, 123);
}
.classify_title>ul>li:hover {
    font-weight: 700;
}
.active {
    font-weight: 700;
}
.classify_wrap>ul>li {
    display: inline-block;
    width: 30%;
    margin-right: 2.5%;
    margin-top: 3%;
    position: relative;
    cursor: pointer;
}
.classify_item::before {
    content: "ADD TO CART";
    display: inline-block;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: absolute;
    text-align: center;
    right: 0;
    color: #fff;
    background: rgba(85, 95, 118, 0.78);
    top: 0;
    opacity: 0;
}
.classify_item::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.classify_wrap>ul>li:hover .classify_item::after, .classify_wrap>ul>li:hover .classify_item::before {
    opacity: 1;
    transition: all .5s;
}
.classify_item {
    background: rgb(241, 243, 248);
}
.item_img {
    width: inherit;
}
.item_img>img {
    width: 100%;
}
.item_desc {
    padding: 5%;
    line-height: 2em;
}
.item_desc p:first-child {
    font-size: 1.5em;
    color: rgb(67, 83, 123);
}
.item_desc p:nth-child(2) {
    color: rgb(67, 83, 123);
}
.item_desc p:nth-child(3) {
    color: rgb(54, 194, 255);
    font-size: 1.2em;
    font-weight: 600;
}
.more {
    border: 1px solid rgb(67, 83, 123);
    margin-top: 3%;
    border-radius: 30px;
    text-align: center;
    width: 20%;
    line-height: 35px;
    margin-left: 40%;
    font-size: 1.2em;
    cursor: pointer;
}
.more:hover {
    border: 1px solid rgb(54, 194, 255);
    color: rgb(54, 194, 255);
}
.subscription {
    width: 100%;
    height: 300px;
    background: url("../img/index/BG.jpg") center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 5% 20%;
    box-sizing: border-box;
}
.subWrap {
    margin-top: 5%;
    height: 50px;
    line-height: 50px;
    display: flex;
}
.subWrap>input {
    flex: 3;
    border-radius: 30px 0 0 30px;
    border: 1px solid #eee;
    padding-left: 20px;
}
.subWrap>span {
    flex: 1;
    background: rgb(54, 194, 255);
    border-radius: 0 30px 30px 0;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    cursor: pointer;
}
.blogWrap {
    padding: 5% 10%;
}
.blog_img img {
    width: 100%;
    height: 100%;
}
.blog_content {
    display: flex;
    margin-top: 3%;
    max-height: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.right_content .blog_img{
    height:60%;
}
.right_content .blog_text{
     height: calc(100% - 60%);
}
.left_content {
    flex: 1;
    margin-right: 3%;
}
.right_content {
    flex: 1.8;
    display: flex;
    flex-flow: column;
}
.blog_text {
    padding: 3%;
    background: rgb(241, 243, 248);
    line-height: 2em;
    margin-top: -4px;
    box-sizing: border-box;
}
.blog_text p:first-child {
    font-weight: 600;
    font-size: 1.5em;
    color: rgb(67, 83, 123);
}
.blog_text p:nth-child(3) {
    font-size: 1.2em;
    color: rgb(54, 194, 255);
    cursor: pointer;
}
.blog_text p:nth-child(3):hover {
    font-weight: 600;
}
.content_top {
    flex:1;
    height:50%;
}
.content_bottom{
        flex:1;
        height: calc(100% - 50%);
}
.right_content .blog_text p:nth-child(2) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.product_detail {
    width: 70%;
    margin: 8% auto;
    border: 1px solid #eee;
}
.product_desc {
    text-align: center;
    margin: 5% auto;
    width: 80%;
}
.product_desc p:first-child {
    font-size: 2.5em;
    color: rgb(85, 95, 118);
}
.product_desc p:nth-child(2) {
    font-size: 1.5em;
    color: rgb(54, 194, 255);
}
.product_desc p:nth-child(3) {
    font-size: 1em;
    color: rgb(85, 95, 118);
    line-height: 2em;
    margin-bottom: 2%;
}
.attribute {
    display: flex;
    margin-bottom: 3%;
    height: 35px;
}
.attribute select {
    flex: 1;
    padding-left: 15px;
    font-size: 1.5em;
     color: rgb(85, 95, 118);
     border:1px solid  #ccc;
      border-radius: 5px;
 }
.addBtn {
    width: 20%;
    margin: 3% auto 0;
    height: 35px;
    background: rgb(54, 194, 255);
    color: #fff;
    line-height: 35px;
    border-radius: 5px;
    cursor:pointer;
}
.addBtn:hover{
    transform: scale(1.2);
    transition: all .5s;
}
